{% extends 'layout/basic.html' %}

{% block title %}{{ msg }}{% endblock %}

{% block content %}
        <h1>{{ msg }}</h1>

        <p>
            The page you were trying to find were not found. We are aware of it,
            but if you think this should not happen, please, 
            <a href="http://github.com/augustohp/taranking/issues" target="_blank">open an issue</a>
            in our repository at <a href="http://github.com" target="_blankc">GitHub</a>.
        </p>

        <p>
            Don't know if you need to notify us? Below is presented a list with
            some cases that if happened to you, than you should let us know:
            <ul>
                <li>You clicked in a link inside this app and got presented that message (we are trully sorry)</li>
                <li>You were redirected here and really don't know what are you doing here (probabl not our fault, but let us know)</li>
                <li>Zombie apocalipse (come join the resistance!)</li>
            </ul>
        </p>
{% endblock %}