{% extends 'layout/basic.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
        <h1>Welcome</h1>

        <p>
            This is a simple Total Annihilation ranking system, to keep track the games
            you play with whom you play. Who won? Who lost?
        </p>

        <p>
            This is only for <strong>registered</strong> users, registration should be
            as simple as providing your <abbr title="Nickname">nick</abbr> and password.
            <a href="/users/latest" title="Last users registered">
                Want to see some people that already did that?.
            </a>
        </p>

        <fieldset>
            <legend>Want to see your own?</legend>

            <form action="/users/login" method="post">
{% if alert %}
                <p class="alert"> {{ alert }} </p>

{% endif %}
                <label for="name">Nick:</label>
                <input type="text" id="name" name="name" />

                <label for="passwd">Password:</label>
                <input type="password" id="passwd" name="passwd" />

                <input type="submit" value="Login">
                <a id="register" href="/users/register">I want to register myself</a>
            </form>
        </fieldset>
{% endblock %}
