{% extends 'layout/basic.html' %}

{% block title %}New user{% endblock %}

{% block content %}
        <h1>New User Registration</h1>
        {% if alerts %}
        
        <ul class="alert">
            {% for message in alerts %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form action="/users/register" method="post">
            <label for="name">Nick:</label>
            <input type="text" id="name" name="name" value="{{ name }}" />

            <label for="passwd">Password:</label>
            <input type="password" id="passwd" name="passwd1" />

            <label for="passwd2">Please, repeat you password:</label>
            <input type="password" id="passwd2" name="passwd2" />

            <input type="submit" value="Register">
        </form>
{% endblock %}